<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cellIdentifier</key>
		<string>homeCell</string>
		<key>title</key>
		<string>Nearest Restaurants</string>
		<key>controllerId</key>
		<string>HomeDetailViewController</string>
		<key>navigationTitle</key>
		<string>Restaurants</string>
	</dict>
	<dict>
		<key>cellIdentifier</key>
		<string>homeCell</string>
		<key>title</key>
		<string>Weather Forecast</string>
		<key>controllerId</key>
		<string>WeatherForeCastViewController</string>
		<key>navigationTitle</key>
		<string>Weather</string>
	</dict>
</array>
</plist>
